# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Multilingual Online Translator/*
!/Multilingual Online Translator/task/
/Multilingual Online Translator/task/*
!/Multilingual Online Translator/task/translator
!/Multilingual Online Translator/task/brrrrrrrrrrrrrrrrk.txt
!/Multilingual Online Translator/task/hello.txt
